table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table{
  margin-top: 5%;
}
input,select{
  padding: 5px;
  width: 300px;
  margin-top: 15px;
 margin: 10px;
}
Form{
  width: 100%;

}
.addform{
  margin: 10px;
}
#localcard,#dbcard{
  font-weight: bolder;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
#localcard{
  background-color: lightblue;
}
#dbcard{
  background-color: lightgreen;
}
h3{
  font-family: 'Courier New', Courier, monospace;
  background-color: azure;
  border: 1px solid black;
  margin: 5px;
}
